#title {
	-fx-font-size: 50;
}

.header {
	-fx-font-size: 25;
	-fx-alignment: top left;
}

.label-input {
	-fx-font-size: 16;
}

.label-toggle {
	-fx-font-size: 14;
}

.spacer-label {
	-fx-pref-width: 5;
}

.input {
	-fx-alignment: baseline_right;
	-fx-min-width: 40;
	-fx-pref-width: 45;
}
